body{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width: 100vw;
    height:100vh;
}


.form__field {
  font-family: inherit;
  width: 20vw;
  border: 0;
  border-bottom: 2px solid yellow;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 1s;
 }

 .form__field:focus {
    border-bottom: 2px solid lightgreen;
 }

 form{
    display: flex;
 }

h1{
    font-style: monospace;
}