html,body{
	margin:0;

}
div#mainPage{
	background-color: white;
	width:100vw;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	z-index:1;
}
div#mainFrame{
	border: 0.5px solid black;
	width:80vw;
	height: 50vh;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
	border-radius:15px;
}
div#introduction h1{
	text-align:center;
	font-family: 'MuseoModerno', cursive;

}
div#introduction{
	width:80vw;
	height:25vh;

}
div#mainFrame ul li{
	display:inline;
	font-size: 20px;
	place-items: center;
	min-height: 200px;
	border: 2px solid;
	padding: 1rem;
	border-image: linear-gradient(45deg, #ffa175, lightgreen) 1;
	font-family: 'MuseoModerno', cursive;
	margin:30px;
}

div#mainFrame ul li:hover{
    cursor:pointer;
}

div#aboutPage{
    border: 1px solid black;
    width: 100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

}
div#skillPage{
    border: 1px solid black;
    width: 100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

}

