ul{
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom: 2px solid lightgreen;


}
ul li{
     display:block;
     margin: 20px;

}

ul li:hover{
    border-bottom: 1px solid lightblue;
}

a{
    text-decoration:none;
    font-weight: bold;

}

